:root{
    --fondoOscuro: black;
    --fondoSeccionOscuro1: rgb(65, 63, 63);
    --fondoSeccionOscuro2: rgb(32, 24, 24);
    --itemNavOscuro: #ee7631;
    --itemFormOscuro: #ee7631;
    --hoverNavOscuro: rgba(250, 154, 98, 0.863);
    --hoverButtonOscuro: rgba(187, 187, 187, 0.774);
    --letraOscuro: white; 
    --fuente-principal: "inter",sans serif  

}

body{
    padding: 0;
    border: 0;
    margin: 0;
    color: var(--letraOscuro);
    background-color: var(--fondoOscuro); 
     font-family: var(--fuente-principal); 
    font-size: 16px;  
    max-width: 100%;
}

header nav ul{
    padding: 0;
    border: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}

header nav ul li:hover{
    background-color: var(--hoverNavOscuro);
}

header nav ul li{
    display: flex;
    flex-grow: 1;
    text-align: center;
    width: 200px;
    height: 60px;
    background-color: var(--itemNavOscuro);
}

header nav ul li a{
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-decoration: none;
    color: var(--letraOscuro);
}
main{
    
width: 90%;


} 
/* PARRAFOS */
p{
    margin-bottom: 20px;
    text-align: justify;
}



main section{
    padding: 20px;
    background-color: var(--fondoSeccionOscuro2);
}

main section h1{
    text-align: center;
}

main section h2{
    text-align: center;
}

main section a{
    color: var(--itemNavOscuro);
}

main section figure{
    margin: 0;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

main section figure img{
    max-width: 450px;
    height: auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    max-width: 450px;
    background-color: var(--itemFormOscuro);
}

form label{
    padding: 10px;
    text-align: center;
    width: 300px;
}

form input{
    border-radius: 8px;
    height: 40px;
    width: 300px;
}

form select{
    border-radius: 8px;
    height: 40px;
    width: 300px;
}

form textarea{
    border-radius: 8px;
    height: 40px;
    width: 300px;
}

form button{
    border-radius: 8px;
    height: 40px;
    width: 150px;
    color: var(--letraOscuro);
    background-color: var(--fondoOscuro);
}

form button:hover{
    background-color: var(--hoverButtonOscuro);
} 
figure{
    display: 2rem; 
    grid-template-rows: repeat var(auto-fit,minmax(200px,1fr)); 
    gap:15px; 
    justify-items: center;



}
figure img{
    width: 250px; 
    height: 180px; 
    object-fit: cover; 
    border-radius: 5px;
} 
figcaption{
    grid-row: 1/-1; 
    text-align: center; 
    font-style: italic; 
    margin-bottom: 10px;


}


/* FOOTER */
footer{
    background-color: #2e8b57;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
}

footer a{
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}