:root{
    --fondoOscuro: black;
    --fondoSeccionOscuro1: rgb(65, 63, 63);
    --fondoSeccionOscuro2: rgb(32, 24, 24);
    --itemNavOscuro: #ee7631;
    --itemFormOscuro: #ee7631;
    --hoverNavOscuro: rgba(250, 154, 98, 0.863);
    --hoverButtonOscuro: rgba(187, 187, 187, 0.774);
    --letraOscuro: white;
}

body{
    padding: 0;
    border: 0;
    margin: 0;
    color: var(--letraOscuro);
    background-color: var(--fondoOscuro);
}

header nav ul{
    padding: 0;
    border: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}

header nav ul li:hover{
    background-color: var(--hoverNavOscuro);
}

header nav ul li{
    display: flex;
    flex-grow: 1;
    text-align: center;
    width: 200px;
    height: 60px;
    background-color: var(--itemNavOscuro);
}

header nav ul li a{
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-decoration: none;
    color: var(--letraOscuro);
}

main section{
    padding: 20px;
    background-color: var(--fondoSeccionOscuro2);
}

main section h1{
    text-align: center;
}

main section h2{
    text-align: center;
}

main section a{
    color: var(--itemNavOscuro);
}

main section figure{
    margin: 0;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

main section figure img{
    max-width: 450px;
    height: auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    max-width: 450px;
    background-color: var(--itemFormOscuro);
}

form label{
    padding: 10px;
    text-align: center;
    width: 300px;
}

form input{
    border-radius: 8px;
    height: 40px;
    width: 300px;
}

form select{
    border-radius: 8px;
    height: 40px;
    width: 300px;
}

form textarea{
    border-radius: 8px;
    height: 40px;
    width: 300px;
}

form button{
    border-radius: 8px;
    height: 40px;
    width: 150px;
    color: var(--letraOscuro);
    background-color: var(--fondoOscuro);
}

form button:hover{
    background-color: var(--hoverButtonOscuro);
}