:root{
    --fondoOscuro: black;
    --fondoSeccionOscuro1: rgb(65, 63, 63);
    --fondoSeccionOscuro2: rgb(32, 24, 24);
    --itemNavOscuro: #ee7631;
    --itemFormOscuro: #ee7631;
    --itemFooterOscuro: #ee7631;;
    --hoverNavOscuro: rgba(250, 154, 98, 0.863);
    --hoverButtonOscuro: rgba(187, 187, 187, 0.774);
    --letraOscuro: white; 
    --fuente-principal: "inter",sans serif;
    --fondoOscuroBase: rgb(39, 38, 38);
}

/* BODY */
body{
    padding: 0;
    border: 0;
    margin: 0;
    color: var(--letraOscuro);
    background-color: var(--fondoOscuro); 
    font-family: var(--fuente-principal); 
    font-size: 16px;  
    max-width: 100%;
}

/* NAVBAR CONTENEDOR EXTERNO NAV */
.st-navbar-main{
    padding: 0;
    margin: 0;
}

/* NAVBAR CONTENEDOR EXTERNO DIV */
.st-navbar-container{
    padding: 0;
    margin: 0;
    height: 60px;
}

/* NAVBAR BRAND CONTENEDOR DIV */
.st-navbar-brand{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--fondoOscuroBase);
}

/* NAVBAR BRAND TEXT */
.st-navbar-brand-text{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: var(--letraOscuro);
    text-decoration: none;
}

/* NAVBAR TEXTO DIV EFECTO */
.st-navbar-brand-text:hover{
    color: var(--itemFooterOscuro);
}

/* NAVBAR TOGLER BUTTON */
.st-navbar-toggler{
    background-color: var(--letraOscuro);
}

/* NAVBAR CONTENEDOR INTERNO DIV */
.st-navbar-collapse{
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: grey;
}

/* NAVBAR CONTENEDOR INTERNO UL */
.st-navbar-nav{
    height: 100%;
    width: 100%;
}

/* NAVBAR CONTENEDOR OPCIONES LI */
.st-nav-item{
    flex: 1;
}

/* NAVBAR CONTENEDOR OPCIONES LINK A */
.st-nav-link{
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--letraOscuro);
    background-color: var(--itemNavOscuro);
    font-weight: bold;
    transition: all .2s
}

/* NAVBAR OPCIONES LINK A EFECTO */
.st-nav-link:hover{
    background-color: var(--hoverNavOscuro);
}

/* MAIN */
main{
    width: 90%;
    margin: auto;
} 

/* TITULOS */
h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

h2, h3{
    text-align: center;
}

/* PARRAFOS */
p{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
}

/* SECCIONES EN MAIN */
.st-main-section{
    margin-top: 20px;
    padding: 30px;
    border-radius: 16px;
    background-color: var(--fondoSeccionOscuro2);
}

/* CONTENEDOR VINCULOS PROGRAMAS EN MAIN */
.st-item-prog{
    text-decoration: none;
}

/* VINCULOS EN MAIN */
.st-main-section-a{
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    border:2px solid var(--itemNavOscuro);
    color: var(--itemNavOscuro);
    text-decoration: none;
}

/* CONTENEDOR IMAGENES MAIN */
.st-main-section-figure{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 15px;
}

/* IMAGENES MAIN */
.st-main-section-figure-img{
    width: 100%;
    border-radius: 10px;
    height: auto;
}

/* TEXTO SECCIONES */
.st-main-section-h2{
    text-align: left;
}

.st-main-section-p{
    text-align: left;
}

/* FORM */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    max-width: 450px;
    background-color: var(--itemFormOscuro);
}

/* FORM ETIQUETA */
form label{
    padding: 10px;
    text-align: center;
    width: 300px;
}

/* FORM INPUTS */
form input{
    border-radius: 8px;
    height: 40px;
    width: 300px;
}

/* FORM INPUTS */
form select{
    border-radius: 8px;
    height: 40px;
    width: 300px;
}

/* FORM INPUT CAJA DE TEXTO */
form textarea{
    border-radius: 8px;
    height: 40px;
    width: 300px;
}

/* FORM BOTONES */
form button{
    border-radius: 8px;
    height: 40px;
    width: 150px;
    color: var(--letraOscuro);
    background-color: var(--fondoOscuro);
}

/* FORM BOTONES EFECTO */
form button:hover{
    background-color: var(--hoverButtonOscuro);
}

/* FOOTER */
footer{
    background-color: var(--fondoOscuroBase);
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
}

/* FOOTER HIPERVINCULO */
footer a{
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
}

/* FOOTER HIPERVINCULO EFECTO */
footer a:hover{
    text-decoration: underline;
}